*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body{
  display: flex;
  min-height: 100vh;
  justify-content: center;
   background:#FAFDC1;
}

.navbar{
  padding: 20px;
  width: 100%;
  background: #732698;
  color: #fff;
  font-size:1.2em;
  font-weight:700;
  letter-spacing: 3px;
  text-align: center;
}

.search{
  padding: 20px;
  border:2px solid black;
}

.search input, .search button{
  padding: 15px;
  font-size: 1em;
  font-weight:700;
  cursor: pointer;
  border:none;
}


.search button:hover{
  background: #FCEA3D;
  color:#555;
}